{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Selamat Datang di {{judul}}</title>
	{% include "base/styles.html" %}
	{% block app_css %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	{% endblock app_css %}
</head>
<body>

	{% include "base/navs.html" %}

	<div class="jumbotron jumbotron-fluid">
	  <div class="container text-center text-white">
	    {% block header %} {% endblock header %}
	  </div>
	</div>
	<div class="container-fluid"> 
		{% block content %}
		{% endblock content %}
	</div>
	{% include "base/scripts.html" %}
</body>
</html>