{% extends "base.html" %}
	{% block header %}
		<h1 class="display-4 ">{{page}}</h1>
		<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
		<p>{{author}}</p>
	{% endblock header %}

	{% block content %}
		<div class="container bg-white text-dark shadow" style="margin-top: -150px;" id="myBody">
			<div class="row" style="height:400px">
				
			</div>
		</div>

		<div class="container bg-dark">
			<div class="row" style="height: 400px;">
				
			</div>
		</div>
	{% endblock content %}